body{
    background-color: rgb(255, 0, 0);
    background-image: url(fundo.jpg);
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "pri pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 1000px auto;
}

header{
    grid-area: cab;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}

header, aside, main, footer{
    background-color: white;
}